
.bloco{
    background-color: var(--color-primary);
    display: inline;
    left: 35%;
    top: 30%;
    right: 50%;
    bottom: 45%;
    position: absolute;
    width: 35em;
    height: 35em;
    border-radius: 17.5px;
    margin: -25px 0 0 -25px
    
}
