.card{
    position: absolute;
    display: flex;
    width: 28em;
    height: 28em;
    border-radius: 5em;
    background-color: var(--color-quartiary);
    top: 10%;
    bottom: 70%;
    left: 10%;
    right: 50%;
    
}