.sobre{
    color:black;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    position:  absolute;   
    right: 5%;
    top: 20px;
}
.sobre::after{
    content: "≡";
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    
}