.titulo{
    display: flex;
    justify-content: space-between;
    height: 70px;
   
    background-color: var(--color-tertiary);
   
}

.titulo.-dark{
    
    background-color: var(--color-negative);
}