.hashtag{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3px;
    row-gap: 4px;
    
}
.hashtag > .item {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    
}
