.sobre{
    color:black;
    position: center;
    font-size: 24px;
    top: 5px;
    font-weight: bold;
    right: 20px;
    text-decoration: none;
    bottom: 45%;
    
}
.sobre:before{
    content: url("C:\Users\vinicius\Projetos-Pessoais\Estudo-React\jogo-da-velha\jogo-da-velha\public\logo500.png");
    left: 20px;
    top: 5px;
    position: absolute;  
}
.sobre:after{
    content:"≡";
    font-family: 'Montserat', sans-serif;
    font-weight: bold;
    font-size: 44px;
    padding: 10px;
    top: 8px;
    position: relative;
}
.titulo{
    height: 70px;
    width: auto;
    background-color: var(--color-tertiary);
    text-align: center;
    position: relative;
}